h1{
    color: rgb(47, 47, 185);
    font-size: 80px;
}
.btnRegister{
    color: rgb(8, 55, 99);
    background-color: rgb(38, 133, 33);
}
.btnshowDate{
    color: rgb(170, 20, 20);
    background-color: rgb(36, 28, 186);
}